# Entornos virtuales
venv/
.venv/
env/
.env

# Archivos de configuracion de IDEs
.idea/
.vscode/
*.swp
*.swo

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Artefactos de compilacion y distribucion
build/
dist/
*.spec
*.egg-info/
/ip_analyzer_gui.spec

# Directorio de salida de Inno Setup
Output/

# Directorios temporales
temp_unzip/

# Archivos de dependencias
.pytest_cache/
.mypy_cache/
.tox/
pip-wheel-metadata/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de backup
*.zip

# Archivos de salida / export
export/
Informe_IP_*.json
Informe_IP_*.txt

# Documentacion
APIS.txt